.section-one,.section-two{
    float:left;
    width: 30%, 70%;
  }
  .bold{
  font-size: 20px;
  font-weight: bold;
  font-style: sans-serif;
  }
  .section-two{
    width: 300px;
    height: 550px;
    position: absolute;
    top:0;
    left:0;
  }
 
  